.productSpecification {
  display: inherit;
}

.specificationItems {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1.2rem;
}

.specificationItems > li {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #888;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.specificationItems > li > div:nth-child(even) {
  text-align: right;
}

.specificationItems > li:first-child {
  border-top: 1px solid #ddd;
}
